<main id="about">
    <h1 class="lg-heading">
      My
      <span class="text-secondary">Work</span>
    </h1>
    <h2 class="sm-heading">
      See some of my recent works...
    </h2>
    <div class="projects">
      <div class="item">
        <a href="https://www.dhruvisass.co.uk/">
          <img src="https://github.com/msypniewski511/portfolio/blob/master/dist/img/projects/Kazam_screenshot_00000.png?raw=true" alt="Project">
        </a>
        <a href="https://www.dhruvisass.co.uk/" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>

      <div class="item">
        <a href="https://msyp.info/">
          <img src="https://github.com/msypniewski511/portfolio/blob/master/dist/img/projects/Kazam_screenshot_00004.png?raw=true" alt="Project">
        </a>
        <a href="https://msyp.info/" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>

      <div class="item">
        <a href="https://voluble-mooncake-56de4b.netlify.app/">
          <img src="https://github.com/msypniewski511/portfolio/blob/master/dist/img/projects/Kazam_screenshot_00006.png?raw=true" alt="Project">
        </a>
        <a href="https://voluble-mooncake-56de4b.netlify.app/" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>
      <div class="item">
        <a href="https://msyp-exercises.netlify.app/">
          <img src="https://github.com/msypniewski511/portfolio/blob/master/dist/img/projects/Kazam_screenshot_00008.png?raw=true" alt="Project">
        </a>
        <a href="https://msyp-exercises.netlify.app/" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>
    </div>

    </div>
    <h2 class="sm-heading">
      Check out some of my projects...
    </h2>

    <div class="projects">
      <div class="item">
        <h3 style="padding-bottom: 1rem;">Bookseller e-commerce main-page</h3>
        <a href="https://emporium-london.herokuapp.com/">
          <img src="https://github.com/msypniewski511/portfolio/blob/master/dist/img/projects/emporium.png?raw=true" alt="Project">
        </a>
        <a href="https://emporium-london.herokuapp.com/" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="https://github.com/msypniewski511/emporium-42" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>
      <div class="item">
        <h3 style="padding-bottom: 1rem;">Fitness club main-page</h3>
        <a href="https://mayaclub.herokuapp.com/">
          <img src="https://github.com/msypniewski511/portfolio/blob/master/dist/img/projects/mayaclub.png?raw=true" alt="Project">
        </a>
        <a href="#" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>
      <div class="item">
        <h3 style="padding-bottom: 1rem;">Richsoft company web-page</h3>
        <a href="https://richsoft.herokuapp.com/">
          <img src="https://github.com/msypniewski511/portfolio/blob/master/dist/img/projects/richsoft.png?raw=true" alt="Project">
        </a>
        <a href="#" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>
      <div class="item">
        <h3 style="padding-bottom: 1rem;">Bookseller e-commerce description-element-page</h3>
        <a href="https://emporium-london.herokuapp.com/catalog/18">
          <img src="https://github.com/msypniewski511/portfolio/blob/master/dist/img/projects/emporium-description.png?raw=true" alt="Project">
        </a>
        <a href="https://github.com/msypniewski511/emporium-42" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="https://github.com/msypniewski511/emporium-42" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>
      <div class="item">
        <h3 style="padding-bottom: 1rem;">Mayaclub fitnes articles page</h3>
        <a href="https://mayaclub.herokuapp.com/articles">
          <img src="https://github.com/msypniewski511/portfolio/blob/master/dist/img/projects/mayaclub-articles.png?raw=true" alt="Project">
        </a>
        <a href="#" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>
    </div>

    <h2 class="sm-heading">
      Check out some of my layout examples...
    </h2>
    <div class="projects">
      <div class="item">
        <a href="https://minmaxsyp.herokuapp.com/index.html">
          <img src="img/projects/minmax.png" alt="Project">
        </a>
        <a href="#" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>

      <div class="item">
        <a href="https://looplabmaciej.herokuapp.com/index.html#home">
          <img src="img/projects/looplab.png" alt="Project">
        </a>
        <a href="#" class="btn-light">
          <i class="fas fa-eye"></i> Project
        </a>
        <a href="#" class="btn-dark">
          <i class="fab fa-github"></i> Github
        </a>
      </div>

    </div>
  </main>

  <footer id="main-footer">
    Pwered by DII Copyright &copy; 2018
  </footer>